.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

h4,h6{
    font-weight: 400;
}

th, td {
    padding: 25px;
  }

.card-table{
    display:flex;
    min-width: none;
    position: relative;
    word-wrap: break-word;
    background-color: white;
   
    border-radius: .25rem;  
    flex-direction: column;
}
.center-btn{
    margin-top:25px !important;
    font-size:15px !important;
    font-weight: 400;
    padding: 10px 70px;
    border-radius:3px !important;
}

#bt{
    margin-left: 1060px;
}