<div class="menu position-relative">
    <div class="card position-absolute top-100 start-50 translate-middle ">
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" routerLink="fooditems" class="btn btn-danger px-5 btn-lg">FoodItems</button>
            <button type="button" routerLink="tiffins" class="btn btn-danger px-5 btn-lg">Tiffins</button>
            <button type="button" routerLink="veggies" class="btn btn-danger px-5 btn-lg">Veggies</button>
            <button type="button" routerLink="nonveggies" class="btn btn-danger px-5 btn-lg">NonVeggies</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>