<form>
    <table>
        <tr>
            <td >
                name
            </td>
            <td >
                <input  type="text" >

            </td>
        </tr>
        <tr>
            <td>
                price
            </td>
            <td>
                <input type="text">
                
            </td>
        </tr>
        <button (click)="placeorder()" type="btn btn-primary">Place Order</button>
    <!--<button mat-button color="primary" (click)="edititem(data.id)">Edit</button>
 <button mat-button color="warn" (click)="deleteitem(data.id)">Delete</button>-->
        <p>{{fooditem}}</p>
    </table>
</form>
<table>
    <tr>
        <td>{{fooditem}}</td>
        <td>price</td>
    </tr>
    
</table>