<div class="container mt-5">
    <div class="row">
        <div class="col xl-12 lg-12 md-12 sm-12 xs-12">
            <div class="table-responsive">
                <div class="table  table-striped border-secondary align-middle">
                    <h4 class="text-center mt-3"> Customer Order Details</h4>
                    <table class="table table-light table-hover mt-5">
                        <thead>
                            <tr scope="row" class="table-dark">
                                <th scope="col">Order Id</th>
                                <th scope="col">Order Name</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders_data">
                                <td scope="col">{{order.id}}</td>
                                <td scope="col">{{order.dishname}}</td>
                                <td scope="col">{{order.dishprice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

