<div id="fbg" class="d-flex  flex-column align-items-center justify-content-center" >
    
    <h3 class="text-center m-5"> Welcome to Foodies....</h3>
    <div class="container d-flex align-items-center justify-content-center px-5">
        <button routerLink="login" class="btn btn-primary px-5 m-3 p-3">Admin</button>
        <button routerLink="foodmodule/fooditems" class="btn btn-primary px-5 m-3 p-3">Food Menu</button>
        <button routerLink="customer/customerhome" class="btn btn-primary px-5 m-3 p-3">Customer</button>
        <button routerLink="chef" class="btn btn-primary px-5 m-3 p-3">Chef</button>

    </div>
</div>

<router-outlet></router-outlet>