.veggies{
    background-color: #fae0ad;
    padding-top: 30px;
}
.product{
    border: 2px solid rgb(243, 197, 197);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.product h6{
    margin-top:10px;
}

.product img{
    width:200px;
    height: 150px;
    border-radius: 5px;
}

.product button{
    border: 1px solid rgb(253, 180, 180);
    background-color: rgb(255, 213, 213);
    color:red;
    font-weight: bold;
    border-radius: 10px;
    height: 35px;
    padding: 0px 30px;
}
