<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h5 style="color:aliceblue"> Digital Menu Ordering</h5>
        <div class=" d-flex mt-1">
            <button type="button" routerLink="home" class="btn btn-primary px-3 ">Home</button>
            <button type="button" routerLink="foodmenu"class="btn btn-primary px-3 ">Menu</button>
            <button type="button" routerLink="orders" class="btn btn-primary px-3 ">Orders</button>
            <button type="button" routerLink="chefstatus"class="btn btn-primary px-3 ">Chef Status</button>
            <button type="button" routerLink="/" class="btn btn-primary px-5 ">Logout</button>
        </div>
    </div>
  </nav>
  <router-outlet></router-outlet>